@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

  @font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lobster/v28/neILzCirqoswsqX9zoKmMw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v21/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFV0U1.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI9w2_Gwft.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  html {
    font-size: 16px;
  }
  body {
    margin: 0;
  }
  /*Nav dont show rules for phone and tablet*/
  @media only screen and (min-width: 896px) {
    .join-us {
        display: none;
    }
    .join-us-href {
        display: none;
    }    
  }

 /* END Nav dont show rules for phone and tablet*/
  @media only screen and (max-width: 697px) {
    #nav-for-tablet {
        display: none;
    }
  }

  @media only screen and (max-width: 697px) {
    .phone-nav {
    
        top: 0;
        position:fixed;
        background-color: white;
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
    }
    .list-for-phone {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .join-us-phone {
        background-color: #9DC20A;
        border-radius: 10%;
        margin-right: 8px;
        padding: 8px;
    }

    .join-us-href-2 {
        color: white;
    }

    .h3-phone {
        text-align: center;
    }

    #section-5-phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
    }

    #section-5-img-phone {
        width: 10rem;
        margin-left: 200px;
       
    }
    #section-5-h4 {
        
        font-size: 2rem;
        margin-bottom: 0px;
    } 

    #all-phone {
        font-size: 0.7rem;
    }

    #designed-phone {
        font-size: 0.7rem;
    }
    

    .h2-phone {
        text-align: center;
    }

    #background-image-phone {
        margin-top: 45px;
    }
  }

  /*Tablet size @media*/
@media only screen and (max-width: 895px) {
    .join-us-href {
        color: white;  
        
    }

    .join-us {
        background-color: #9DC20A;
        width: 50px;  
        padding: 5px;   
        margin-left: 10px;
        text-align: center;
        border-radius: 10%;
    }

    #section-two-box-smaller-size {
        background-color: transparent;
        border: transparent;
        border-radius: none;
        text-align: center;
        margin: 8rem auto;
    }

    .format {
        margin: 0px auto auto auto;
    }

    #instant-smaller-size {
        text-align: center;
        font-size: 3rem;
    }

    #section-2-smaller-size {
        display: none;
    }

}
/* END Tablet size*/

/*Nav*/


.product {
    margin-right: 40px;
    color: #4A4A4A;
}

.about{
    margin-right: 40px;
    color: #4A4A4A;
}

.follow {
    margin-right: 10px;
    color: #4A4A4A;
}


.fotomatic {
    display: inline-block;
    margin-left: 30px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 2rem;
}

li {
    display: inline;
    color: #4A4A4A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

a {
    text-decoration: none;
    color: #4A4A4A;
}

.listings {
    float: right;
    margin-right: 30px;
    display: flex;
    align-content: center;
   
}

.insta-logo {
    height: 15px;
    width: 15px;
    margin-left: 15px;
}

.nav {
    display: flex;
    top: 0;
    position:fixed;
    background-color: white;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*END Nav*/

/*Section 2*/
.background-image {
    margin-top: 85px;
    background-image: url("./portfolioprojectone/luke-stackpoole-xs9ZT_ldwPI-unsplash.jpg");
    width: 100%;
    height: 696px;
    background-repeat: no-repeat;
    display: flex;
}

.section-two-box {
    background-color: #9DC20A;
    border: 1px solid #979797;
    border-radius: 4px;
    margin: 170px auto 170px 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instant {
    margin: 32px auto 0 auto;
    color: white;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    font-display: swap;
    text-align: center;
}

.format {
    margin:0px auto 12px auto;
    color: white;
    font-size: 50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    text-align: center;
}

.email {
    margin: 0px auto 26px auto;
    color: white;
    font-size: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    text-align: center;
}
.span {
    font-weight: bolder;
}

button {
    width: 408px;
    height: 64px; 
    background-color: #4A4A4A;
    border-radius: 4px;
    margin: 26 80 56 80;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto 80 56 80;
}

.join {
    color: white;
    font-size: 20px;
    background-color: none;
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-display: swap;
}

/*END Section 2*/


/*NEW Section 3*/

#features-section {
    display: flex;
    justify-content: space-between;
    padding: 4rem 5%;
    background-color: #f3f3f3;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
  }

  .feature {
    flex: 1;
    padding: 2rem;
    margin: 0px 1.25rem;
    background-color: white;
  }
  
  .feature .image-container {
    width: 90%;
    height: 65%;
    margin: 0 auto;
  }
  
  .feature .content {
    padding: 2.5rem 0;
  }
  
  .feature h2 {
    padding-bottom: .5rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: #4a4a4a;
  }
  
  .feature h3 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 300;
    color: #4a4a4a;
  }
  
  @media only screen and (max-width: 895px) {
    #features-section {
      padding: 1rem;
    }
  
    .feature {
      margin: 0px .5rem;
      padding: 1rem;
    }
  
    .feature h2 {
      font-size: 2rem;
      line-height: 1.3;
    }
  
    .feature h3 {
      font-size: .875rem;
      line-height: 1.4;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #features-section {
      flex-flow: column;
      padding: 0;
    }
  
    .feature {
      margin: 0;
      padding: 1.25rem 1rem 0 1rem;
    }
  
    .feature .content {
      padding: 1.25rem 0 1.875rem 0;
    }
  }

/*END New Section 3*/



/*Section 4*/

.whole-section-four {
    background-color: #4A4A4A;
    
}

.section-four-p {
    padding-top: 64px;
    padding-bottom: 81px;
    text-align: center;
}

.over {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    font-size: 36px;
    color: white;
}

.feed {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    font-size: 14px;
    color: white;
}

.photographers {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    font-size: 14px;
    color: white;
}

.section-four-images {
    display: inline-flex;
    justify-content: center;
}

.image-one {
    width: 24.5%;
    margin-bottom: 64px;
    display: inline-block;
}

.image-two {
    width: 24.5%;
    margin-bottom: 64px;
    display: inline-block;
}

.image-three {
    width: 24.5%;
    margin-bottom: 64px;
    display: inline-block;
}

.image-four {
    display: inline-block;
    width: 24.5%;
    margin-bottom: 64px;
}

/*END Section 4*/

/*Section 5*/

.whole-section-five {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.section-five-hfour {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 30px;
    color: #4A4A4A;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}

.section-five-image {
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}

/*END Section 5*/

/*Section 6*/

footer {
   background-color: #9B9B9B; 
   height: 62%;
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.all {
    margin-left: 32px;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    font-size: 12px;
    display: inline-block;
}

.designed {
    float: left;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    font-display: swap;
    margin-right: 32px;
}
/*END Section 6*/


